.App {
  text-align: center;
}

.app-container {
  width: 100vm;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
