html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::after, 
*::before {
  box-sizing: border-box;
}

:root {
  --step0: #ff615d;
  --step1: #bad5ea;
  --step2: #fd8769;
  --step3: #356d94;
  --step4: #ffdcb3;
}
