@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=LXGW+WenKai+TC:wght@300;400;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  background-color: #282c34;
  color: white;
  font-family: "LXGW WenKai TC", "Tinos", "DM Serif Text", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overscroll-behavior: none;
}


#root {
  height: 100%;
  width: 100%;
  flex-direction: column;
}


*,
*::after, 
*::before {
  box-sizing: border-box;
}

:root {
  --step0: #4f5a74;
  --step1: #bad5ea;
  --step2: #0a0c38;
  --step3: #356d94;
  --step4: #b3c1ff;
}
