.workContainer {
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .project {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
  }
  
  .projectTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .projectDescription {
    font-size: 1rem;
  }